*,body {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
}

main {
    margin-left: 20em;
    padding: 0 2em 0 2em;
    height: 100%;
}

li {
    display: inline;
    padding: 1em 1em;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 1em;
}

.center {
    justify-content: center;
    align-items: center;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.flex-grid {
    display: grid;
}

.col {
    flex: 1;
}

.flex-grow {
    flex-grow: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.nav-link {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin: 0 0 0 0rem;
    padding: 0;
}

.nav-link::before {
    transition: 200ms ease-out;
    height: 0.1563rem;
    content: "";
    position: absolute;
    background-color: black;
    width: 0%;
    bottom: -0.125rem;
}

.nav-link:hover::before {
    width: 100%;
}


.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sidebar {
  position: fixed;
  background: linear-gradient(to right, yellow, orange);
  width: 20em;
  height: 100vh;
  text-align: center;
}

.text-center {
    text-align: center;
}
